{
  "extends": [
    "eslint-config-airbnb-base",
    "eslint-config-airbnb-base/rules/strict"
  ],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "arrow-body-style": 0
  }
}